<container-fluid>
    <form class="reset-form form" name="resetForm">
        <div class="reset">
            <h3>{{'profile.edit.password.change_your_password_heading' | translate}}</h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="auth-input">
                        <div class="auth-input-icon">
                            <img src="img/icon_password.svg" />
                        </div>
                        <input type="password" name="password" ng-model="vm.user.current_password" required minlength="4">
                        <span class="auth-input-label" ng-hide="resetForm.password.$touched && resetForm.password.$invalid" ng-show="resetForm.password.$valid && resetForm.password.$touched" aria-label="Password">{{ 'profile.edit.password.current_password' | translate }}</span>
                    </div>
                    <div class="input-error" ng-messages="resetForm.password.$touched && resetForm.password.$error" role="alert">
                        <div ng-message="required">{{'auth.password_required' | translate}}</div>
                        <div ng-message="minlength">{{'auth.password_min_length' | translate}}</div>
                        <div ng-message="maxlength">{{'auth.password_max_length' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="auth-input">
                        <div class="auth-input-icon">
                            <img src="img/icon_password_new.svg" />
                        </div>
                        <input type="password" name="password" ng-model="vm.user.new_password" required minlength="4">
                        <span class="auth-input-label" ng-hide="resetForm.password.$touched && resetForm.password.$invalid" ng-show="resetForm.password.$valid && resetForm.password.$touched" aria-label="Password">{{ 'profile.edit.password.new_password' | translate }}</span>
                    </div>
                    <div class="input-error" ng-messages="resetForm.password.$touched && resetForm.password.$error" role="alert">
                        <div ng-message="required">{{'auth.password_required' | translate}}</div>
                        <div ng-message="minlength">{{'auth.password_min_length' | translate}}</div>
                        <div ng-message="maxlength">{{'auth.password_max_length' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="auth-input">
                        <div class="auth-input-icon">
                            <img src="img/icon_repeat.svg" />
                        </div>
                        <input type="password" name="confirm" ng-model="vm.user.confirm_password" required minlength="4" compare-to="vm.user.new_password" \>
                        <span class="auth-input-label" ng-hide="resetForm.confirm.$touched && resetForm.confirm.$invalid" ng-show="resetForm.confirm.$valid && resetForm.confirm.$touched" aria-label="Repeat password">{{ 'profile.edit.password.repeat_new_password' | translate }}</span>
                    </div>
                    <div class="input-error" ng-messages="resetForm.confirm.$touched && resetForm.confirm.$error" role="alert">
                        <div ng-message="required">{{'auth.repeat_password_required' | translate}}</div>
                        <div ng-message="minlength">{{'auth.repeat_password_min_length' | translate}}</div>
                        <div ng-message="compareTo">{{'auth.repeat_password_no_match' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 ">
                    <div class="auth-actions text-right">
                        <button class="btn btn-primary" ng-click="vm.changePassword()">{{ 'profile.edit.password.change_button' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</container-fluid>





