<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ui-sref-active="active"><a ui-sref="profile.overview" aria-controls="overview" role="tab">{{'profile.navigation.overview' | translate}}</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref="profile.achievements" aria-controls="achievements" role="tab">{{'profile.navigation.achievements' | translate}}</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref="profile.photos" aria-controls="photos" role="tab">{{'profile.navigation.photos' | translate}}</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref="profile.perceptions" aria-controls="perceptions" role="tab">{{'profile.navigation.perceptions' | translate}}</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref="profile.sensors" aria-controls="sensors" role="tab">{{'profile.navigation.sensors' | translate}}</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref="profile.followers" aria-controls="followers" role="tab">{{'profile.navigation.followers' | translate}}</a></li>
</ul>
