  <div class="popup">
    <div class="popup-dialog">
      <!-- popup content-->
      <div class="popup-content">
        <div class="popup-header">
          <button type="button" ng-click="ok()" class="close" >&times;</button>
          <div class="popup-badge">
            <img src="../../../img/badges/Badges_with_bg_Grayscale/BadgeBG_History_buff_Grayscale.png">
          </div>
          <h4 class="popup-title">History Buff!</h4>
        </div>
        <div class="popup-body">
          <p>In order to get the History Buff badge you have to dolor sit amet, consectetur adipiscing elit. Sed ac risus nec turpis ullamcorper tempus. Integer non purus metus. Sed tellus ante, sagittis non libero eu, scelerisque tristique eros.</p>
        </div>
      </div>

    </div>
  </div>
